<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>kichen garden</title>
        <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>
            
        </script>
    </head>
    <body>
        <%
            for(var i=0;i < item.length; i++){
        %>
                <span><%=item[i].g_id%></span> : <span><%=item[i].quan%></span><br>
        <%

            }
        %>

    </body>
</html>
